// sidebar
$menuText:#c7c7c7;
$menuActiveText:#409EFF;
$subMenuActiveText:#c7c7c7; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #000000;
$menuHover:#409EFF;

$subMenuBg:#000000;
$subMenuHover:#409EFF;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
